@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-background;
  }

  :root {
    --primary: 133 87% 66%; /* #7FDA58 */
    --primary-foreground: 0 3% 41%;

    --chart-1: 133 87% 66%; /* #7FDA58 */
    --chart-2: 0 0% 0%;
    --chart-3: 0 0% 100%;
    --chart-4: 0 0% 0%;
    --chart-5: 0 0% 100%;

    --background: 0 0% 100%;
    --background-hover: 0 0% 95%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 100%;
    --muted-foreground: 0 0% 0%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;
    --radius: 0.5rem;
  }

  .dark {
    --background:0 0% 13%;

    --background-hover: 0 0% 13%;
    --foreground: 0 0% 100%;
    --card:0 3% 32%;
    --card-foreground: 0 3% 32%;
    --popover:0 3% 32%;
    --popover-foreground: 0 3% 32%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 0%;
    --muted-foreground: 0 0% 100%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 0 0% 100%;
  }

  * {
    @apply border-border;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  flex: 1 0 0;
}

.disable-transitions * {
  transition-property: background-color, color !important;
  transition-duration: 0s !important;
}
